body {
max-width: 100%;
margin-left: 20px;
margin-right: 20px;
}
li.superglobales{
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
    margin-top: 10px;
}
.minichat{
    border: 1px solid black;
    width: 33%;
    max-height: 300px;
    overflow-y: scroll;
    padding-left: 3px;
}
.formulaire_chat{
    width: 33%;
}
.msg_box{
    border-bottom: 1px dashed gray;
}