body {
max-width: 90%;
/* margin-left: 20px;
margin-right: 20px; */
margin: auto;
}
.header{
    text-align: center;
}
li.superglobales{
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
    margin-top: 10px;
}
.minichat{
    border: 1px solid black;
    width: 33%;
    max-height: 300px;
    overflow-y: scroll;
    padding-left: 3px;
}
.formulaire_chat{
    width: 33%;
}
.msg_box{
    border-bottom: 1px dashed gray;
}
.heure{
    font-size: 0.7em;
    border-right: 1px dotted grey;
    font-style: italic;
    display: flex;
    align-items: center;
}
.pseudo{
    font-weight: bold;
}
.separator_comment{
    border-bottom: 1px dashed black;
    /* width: 25%; */
}
h4{
    text-decoration: underline;
}
.commentaires_add_view{
    display:flex;
    flex-direction: row;
}
.comm{
    margin-right: 50px;
    border: 1px solid black;
    padding: 0 15px 15px 15px;
}
pre{
    max-width: 650px;
    background-color: #000;
    color: azure;
}